<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ project }} :: sych</title>

    <style>

        body {
            background: white !important;
            height: 100vh !important;
            color: rgb(72, 82, 92) !important;
            font-size: 14px !important;
            overflow: hidden !important;
        }

        #docs-row {
            border-top: 1px solid ececee4a;
        }

        .container-fluid {
            height: 100vh;
        }

        .navbar-brand {
            color: rgb(74, 85, 95) !important;
        }

        .navbar .navbar-light {
            background-color: transparent !important;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: white !important;
            background-color: #228be6 !important;
        }

        .nav-brand>b {
            color: rgb(74, 85, 95) !important;
        }

        .bq {
            padding: 1em;
            margin: 1em;
            border-left: 2px solid slategray;
            background-color: #ececee4a;
        }

        .p-2-border {
            padding: 0.2em;
            border: 1px solid #228be6;
            border-radius: 5px;
        }

        .nav>a {
            color: #228be6 !important;
            text-decoration: none !important;
        }

        h4 {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-weight: bold !important;
            color: rgb(74, 85, 95) !important;
        }

        code {
            color: #228be6 !important;
            background-color: #fbfbfb7b !important;
            padding: 0.1em;
            border-radius: 2px;
        }

        #s-nav-heading {
            padding: 1em;
        }

        #default-styled-tab-content {
            height: 100vh !important;
            overflow: scroll !important;
        }

        pre {
            margin-top: 1em !important;
            margin-bottom: 1em !important;
            border: 1px solid #e5e4e4;
            border-radius: 5px !important;
            background-color: #fbfbfb7b !important;
            padding: 1em !important;
        }
    </style>

    <link type="text/css" rel="stylesheet" href="/Users/ashishshekhar/Products/flurry/extensions/tldraw-7bb10f051a5c65a9.css" />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>


<body>
<nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
    <div>
      <button
        data-drawer-target="sidebar-multi-level-sidebar"
        data-drawer-toggle="sidebar-multi-level-sidebar"
        aria-controls="sidebar-multi-level-sidebar"
        type="button"
        role="tab"
        aria-controls=""
        aria-selected=""
        class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </button>
    </div>
<div class="sm:hidden font-bold">
                    🌀 {{project}}
                </div>
    </nav>
<!-- new flowbite template -->

    <aside
      id="sidebar-multi-level-sidebar"
      class="fixed top-0 left-0 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
style="z-index: 999;"
    >

      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
<div class="p-4 2xl:hidden font-bold">
        🌀 {{project}}
    </div>
        <ul
          class="space-y-2 font-medium"
          id="default-styled-tab"
          data-tabs-toggle="#default-styled-tab-content"
          role="tablist"
        >
        {{ #each titles }}
            <li class="me-2" role="presentation">
                <button
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                id="{{this.1}}-styled-tab"
                data-tabs-target="#styled-{{this.1}}"
                type="button"
                role="tab"
                aria-controls="{{this.1}}"
                aria-selected="false"
                >
                {{this.0}}
                </button>
            </li>
        {{/each}}

        </ul>
      </div>
    </aside>

    <div id="default-styled-tab-content" class="p-4 sm:ml-64">
        {{#each contents}}
            <div
            class="hidden p-4 rounded-lg"
            id="styled-{{this.1}}"
            role="tabpanel"
            aria-labelledby="{{this.1}}-tab"
        >
            {{{this.0}}}
        </div>
        {{/each}}
    </div>

</div>

    <script type="module">
        {{!-- extension imports --}}
        {{#each extensions}}
            import { render as render{{@key}} } from "{{this.url}}"
        {{/each}}
        

        {{!-- extension renders --}}
        {{#each render_targets}}
            render{{this.0}}(document.getElementById("{{this.1}}"), `{{{this.2}}}`);
        {{/each}}
        

        {{{script_content}}}
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>